## Import the required libraries

In [15]:
import psycopg2
import configparser

## Create the DB Connection

In [16]:
def create_connection():
    conn = psycopg2.connect("host=127.0.0.1 dbname=dmqldb user=postgres password=student")
    cur = conn.cursor()       
    return conn, cur

conn, cur = create_connection()

## Execute drop statement

In [17]:
cur.execute('DROP TABLE IF EXISTS company_detail')
cur.execute('DROP TABLE IF EXISTS stock_history')
cur.execute('DROP TABLE IF EXISTS stock_matrix')
cur.execute('DROP TABLE IF EXISTS market')
cur.execute('DROP TABLE IF EXISTS company')

## Create statements

In [18]:
create_market = """ CREATE TABLE IF NOT EXISTS market (
                                                        market_code VARCHAR(5) PRIMARY KEY, 
                                                        country VARCHAR(50), 
                                                        city VARCHAR(50), 
                                                        region VARCHAR(50)
                                                        )"""

create_company = """ CREATE TABLE IF NOT EXISTS company (
                                                          symbol varchar(5) PRIMARY KEY,
                                                          name VARCHAR(50),
                                                          sector VARCHAR(30)
                                                        )"""

create_company_detail = """ CREATE TABLE IF NOT EXISTS company_detail (
                                                                        symbol VARCHAR(5),
                                                                        market_code VARCHAR(5),
                                                                        address VARCHAR(100),
                                                                        phone VARCHAR(15),
                                                                        PRIMARY KEY (symbol, market_code),
                                                                        FOREIGN KEY (symbol) REFERENCES company(symbol),
                                                                        FOREIGN KEY (market_code) REFERENCES market(market_code)
                                                                       )"""

create_stock_history = """ CREATE TABLE IF NOT EXISTS stock_history (
                                                                     market_code VARCHAR(5),
                                                                     symbol VARCHAR(5),
                                                                     date DATE,
                                                                     open float8,
                                                                     high float8,
                                                                     low float8,
                                                                     close float8,
                                                                     volume int8,
                                                                     dividend int8,
                                                                     stock_split int8,
                                                                     PRIMARY KEY (symbol, market_code, date),
                                                                     FOREIGN KEY (symbol) REFERENCES company(symbol),
                                                                     FOREIGN KEY (market_code) REFERENCES market(market_code)                                                                    
                                                                    )"""

create_stock_matrix = """ CREATE TABLE IF NOT EXISTS stock_matrix (
                                                                    market_code VARCHAR(5),
                                                                    symbol VARCHAR(5),
                                                                    day_high float8,
                                                                    day_low float8,
                                                                    price float8,
                                                                    recommendation VARCHAR(5),
                                                                    PRIMARY KEY (symbol, market_code),
                                                                    FOREIGN KEY (symbol) REFERENCES company(symbol),
                                                                    FOREIGN KEY (market_code) REFERENCES market(market_code)
                                                                   )"""

## Execute create statement

In [19]:
cur.execute(create_market)
cur.execute(create_company)
cur.execute(create_company_detail)
cur.execute(create_stock_history)
cur.execute(create_stock_matrix)

In [20]:
conn.commit()

In [21]:
#cur.execute('DROP TABLE IF EXISTS company_detail')
#cur.execute('DROP TABLE IF EXISTS stock_history')
#cur.execute('DROP TABLE IF EXISTS stock_matrix')
#cur.execute('DROP TABLE IF EXISTS market')
#cur.execute('DROP TABLE IF EXISTS company')

In [22]:
conn.close()