## Import the required libraries

In [26]:
import psycopg2
import configparser
import yfinance as yf
import pandas as pd

## Create the DB Connection

In [27]:
def create_connection():
    conn = psycopg2.connect("host=127.0.0.1 dbname=dmqldb user=postgres password=student")
    cur = conn.cursor()       
    return conn, cur

conn, cur = create_connection()

In [28]:
def load_data(conn, df, query):
    '''
        This method executes the insert statements
    '''
    tuples = [tuple(x) for x in df.to_numpy()]  
    cursor = conn.cursor()
    try:
        cursor.executemany(query, tuples)
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        conn.rollback()
        cursor.close()
        return 1
    cursor.close()

In [29]:
# The symbols to be added
symbols = ['MSFT', 'GOOGL', 'AAPL', 'TSLA', 'WMT']

## Insert Market data from csv

In [30]:
df_market = pd.read_csv('Market.csv')
market_insert_sql = """ INSERT INTO market VALUES (%s, %s, %s, %s) """
load_data(conn, df_market, market_insert_sql)

## Insert Company data from api

In [31]:
for symbol in symbols:
    msft = yf.Ticker(symbol)
    list_msft = msft.info
    list_msft = pd.DataFrame([list_msft])
    df_company = pd.DataFrame()
    df_company['Name'] = list_msft['longName']
    df_company['Sector']= list_msft['sector']
    df_company.insert(0, "Symbol", symbol, True)
    company_insert_sql = """ INSERT INTO company VALUES (%s, %s, %s) """
    load_data(conn, df_company, company_insert_sql)

## Insert Stock data from api

In [32]:
for symbol in symbols:
    msft = yf.Ticker(symbol)
    df_hist = msft.history(period='max')
    df_hist.reset_index(level=0, inplace=True)
    df_hist.insert(0, "Symbol", symbol, True)
    df_hist.insert(0, "Market", 'NYSE', True)
    hist_insert_sql = """ INSERT INTO stock_history VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s) """
    load_data(conn, df_hist, hist_insert_sql)

In [33]:
cur.close()
conn.close()

## Check the data

In [34]:
%load_ext sql
conn_string="postgresql://{}:{}@{}:{}/{}".format('postgres', 'student', '127.0.0.1', 5432,'dmqldb')

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [35]:
%%sql
select count(*) from market

 * postgresql://postgres:***@127.0.0.1:5432/dmqldb
1 rows affected.

[(1,)]

In [36]:
%%sql
select count(*) from company

 * postgresql://postgres:***@127.0.0.1:5432/dmqldb
1 rows affected.

[(5,)]

In [37]:
%%sql
select count(*) from stock_history

 * postgresql://postgres:***@127.0.0.1:5432/dmqldb
1 rows affected.

[(38812,)]